/* General normalizing */

body {
  font-family: var(--font);
  font-weight: 400;
  max-width: 100vw;
}

/* Links */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* CSS Variables */
:root {
  --font: 'Raleway', sans-serif;
  --color-theme: #16e28b;
  --color-ltheme: #93e8c4;
  --color-bg: #080a38;
  --color-gray: #bbb;
  --color-lgray: #f8f8f8;
}

/* Common Styles */

.pm0 {
  padding: 0;
  margin: 0;
}

.fbc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.fbr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.b {
  font-weight: 600;
  font-size: 1.8em;
}

.tc {
  color: var(--color-theme);
}

.dbgc {
  background-color: var(--color-bg);
}

.lbgc {
  background-color: var(--color-ltheme);
}

/* App Component Styling */

#app-container {
  display: grid;
  grid-template-columns: [c1] 2fr [c2] 5fr [c3];
  grid-template-rows: [r1] 100px [r2] 1fr [r3] 3fr [r4];
  grid-gap: 0;
  background-color: #fff;
}

header {
  grid-column: c1 / c3;
  grid-row: r1 / r2;
  width: 100%;
  height: 100px;
}

.logo {
  height: 80px;
}

.main-title {
  margin-left: 0.3em;
  font-size: 2em;
}

.nav {
  justify-content: flex-start;
  grid-column: c1 / c2;
  grid-row: r2 / r4;
  width: 100%;
  height: calc(100vh - 120px);
}

.playlists {
  margin: 2em 0 0.5em 0;
  color: var(--color-bg);
  font-variant: small-caps;
}

ul {
  color: #000;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0 0 0.5em -2em;
  cursor: pointer;
}

main {
  grid-column: c2 / c3;
  grid-row: r2 / r4;
  max-width: 100%;
  height: calc(100vh - 120px);
  background-color: var(--color-lgray);
}
