/* General normalizing */

body {
  font-family: var(--font);
  font-weight: 400;
  max-width: 100vw;
}

/* Links */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* CSS Variables */
:root {
  --font: 'Raleway', sans-serif;
  --color-theme: #16e28b;
  --color-bg: #080a38;
  --color-gray: #bbb;
  --color-lgray: #f8f8f8;
}

/* Common Styles */

.pm0 {
  padding: 0;
  margin: 0;
}

.fbc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.fbr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.b {
  font-weight: 600;
}

/* App Component Styling */

#app-container {
  background-color: #fff;
}

h1 {
  color: #000;
  text-align: center;
}
