@import './App.css';

.all-vids {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  width: 100%;
  min-height: calc(100vh - 150px);
  overflow: scroll;
}

.thumbs {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  width: 100%;
  list-style-type: none;
}

.fa-2x {
  color: #000;
}

.current-displayed {
  padding: 1em 0 0 1em;
  border-top: 1px dashed var(--color-dblue);
}

/* Search Error */
.search-error {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  width: 100%;
}
