@import './App.css';

.all-vids {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  width: 100%;
  min-height: calc(100vh - 150px);
  overflow: scroll;
}

.main-vid {
  width: 100%;
  height: 320px;
  margin-bottom: 0.5em;
}

.thumbs {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style-type: none;
  overflow: scroll;
}

.fa-2x {
  color: #000;
}

.current-displayed {
  height: 25px;
  padding: 0.2em 0 0.2em 0.2em;
  margin: 0;
  font-weight: 200;
  border-top: 1px dashed var(--color-dblue);
}

/* Search Error */
.search-error {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  width: 100%;
}

/* Mobile Landscape */
@media only screen and (max-width: 850px) and (max-height: 450px) {
  .all-vids {
    display: grid;
    grid-template-columns: [dvc1] 1fr [dvc2] 3fr [dvc3];
    grid-template-rows: [dvr1] 1fr [dvr2];
    grid-gap: 0;
  }

  .main-vid {
    grid-column: dvc2 / dvc3;
    grid-row: dvr1 / dvr2;
    width: 100%;
    margin-bottom: 0.5em;
  }

  .thumbs {
    grid-column: dvc1 / dvc2;
    grid-row: dvr1 / dvr2;
    width: 100%;
    padding: 2em 0.5em 0 0;
    list-style-type: none;
    border-right: 2px solid var(--color-theme);
    overflow: scroll;
  }

  .current-displayed {
    position: absolute;
    top: 52px;
    left: 10px;
    width: 130px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-lgray);
    z-index: 3;
  }

  /* Search Error */
  .search-error {
    grid-column: dvc2 / dvc3;
    grid-row: dvr1 / dvr2;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (min-height: 450px) {
  .main-vid {
    height: 400px;
  }

  .thumbs {
    height: calc(100vh - 550px);
  }
}

@media only screen and (min-width: 750px) and (min-height: 450px) {
  .thumbs {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 900px) and (min-height: 450px) {
}
