@import './App.css';

p {
  text-indent: 0.5em;
}

.vid-tile {
  position: relative;
  width: 100%;
  margin: 1em auto;
}

.vid-info-container {
  height: 200px;
}

.main-src {
  width: 100%;
  margin: 1em 0;
}

.fa-3x {
  padding: 0.1em;
  border-radius: 20%;
  background-color: var(--color-ltheme);
}

.vid-info {
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  max-width: 400px;
  height: 80px;
}

.vid-title {
  max-width: 100%;
  margin: 0 0 20px 10px;
  font-size: 1.1em;
}

.main-icon {
  align-self: flex-end;
  width: 100%;
}

.vid-desc {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: 200;
  text-indent: 0;
}

.vid-tags {
  width: 100%;
  margin: 0.2em auto;
}

.vid-thumb {
  position: relative;
  width: 90%;
  height: 250px;
  margin: 0 0 2em 0;
}

.cover-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.vid-src {
  width: 100%;
  margin: 0.2em auto;
}

.thumb-info {
  height: 40px;
}

.thumb-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  font-size: 10px;
}

.thumb-title {
  padding-left: 12px;
  margin: 0;
  font-size: 0.9em;
}

@media only screen and (min-width: 600px) {
  .vid-info-container {
    height: 300px;
  }

  .main-src {
    width: 400px;
    height: 250px;
  }

  .vid-thumb {
    width: 75%;
  }
}

@media only screen and (min-width: 750px) {
  .vid-info-container {
    height: 300px;
  }

  .vid-title {
    font-size: 1.2em;
  }

  .main-src {
    width: 400px;
    height: 250px;
  }

  .vid-thumb {
    width: 200px;
    margin: auto 1em;
  }
}

@media only screen and (min-width: 900px) {
  .vid-info-container {
    flex-flow: row nowrap;
    width: 100%;
  }

  .vid-title {
    font-size: 1.5em;
  }

  .main-src {
    width: 400px;
    height: 281px;
  }

  .vid-info {
    width: 350px;
    height: 280px;
    padding: 10px;
  }

  .vid-desc {
    font-size: 1.3em;
    text-indent: 5px;
  }
}
