@import './App.css';

p {
  text-indent: 0.5em;
}

.vid-tile {
  width: 100%;
  margin: 2em auto;
}

.vid-src {
  width: 100vw;
  max-width: 400px;
  min-height: 190px;
  margin-top: 0.2em;
}

.fa-2x {
  padding: 0.1em;
  border-radius: 20%;
  background-color: var(--color-ltheme);
}

.vid-info {
  display: grid;
  grid-template-columns: [vc1] 1fr [vc2] 4fr [vc3];
  grid-template-rows: [vr1] 45px [vr2] 60px [vr3] 40px [vr4];
  grid-gap: 0;
  width: 100%;
  max-width: 400px;
}

.vid-title {
  grid-column: vc1 / vc3;
  grid-row: vr1 / vr2;
  max-width: 100%;
  padding-left: 0.3em;
  margin: auto;
  text-align: center;
}

.tile-icon {
  grid-column: vc1 / vc2;
  grid-row: vr2 / vr4;
  width: 100%;
  padding: 0;
  margin: 0;
  border-right: 1px solid #000;
}

.vid-desc {
  grid-column: vc2 / vc3;
  grid-row: vr2 / vr3;
  width: 100%;
  padding-left: 0.5em;
  margin: 0 auto;
  font-style: italic;
}

.vid-tags {
  grid-column: vc2 / vc3;
  grid-row: vr3 / vr4;
  width: 100%;
  padding-left: 0.5em;
  margin: auto;
}
